{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Home{% endblock %}

{% block content %}
<div>
    <h1>Movie List</h1>
    <div>
        {% if request.user.is_superuser %}
            <a href="{% url 'community:movie_create' %}"><button class="btn btn-secondary">영화 등록</button></a>
        {% endif %}
    </div>
</div>
<hr>

<div class="row row-cols-1 row-cols-md-3">
    {% for movie in movies %}
  <div class="col-4 mb-4">
      <div class="card">
        <img class="card-img-top w-50 mx-auto m-3" src="{{ movie.poster }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ movie.title }}</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="d-flex card-footer justify-content-end">
          <small><a class="btn btn-primary" href="{% url 'community:movie_detail' movie.pk %}">리뷰보기</a></small>
        </div>
      </div>
  </div>
    {% endfor %}
</div>
{% endblock %}