{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Review{% endblock %}

{% block content %}
<h1>리뷰 제목 : {{ review.title }}</h1>
<p>영화 제목 : {{ review.movie_title }}</p>
<p>작성자 : <a href="{% url 'accounts:profile' review.user.pk %}">{{ review.user }}</a></p>
<hr>
<p>리뷰 내용 : {{ review.content }}</p>
<p>평점 : {{ review.rank }}</p>
<p>최초 작성 시간 : {{ review.created_at }}</p>
<p>마지막 수정 시간 : {{ review.updated_at }}</p>

{% if request.user == review.user %}
    <a href="{% url 'community:review_update' movie.pk review.pk %}"><button class="btn btn-primary">수정하기</button></a>
    <form action="{% url 'community:review_delete' movie.pk review.pk %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-secondary">삭제</button>
    </form>
{% endif %}

{% if request.user.is_authenticated %}
    {% if request.user in review.like_user.all %}
        <p><a href="{% url 'community:review_like' movie.pk review.pk %}"><i class="fas fa-heart fa-2x"></i></a>{{ review.like_user.count }} 명이 좋아합니다.</p>
    {% else %}
        <p><a href="{% url 'community:review_like' movie.pk review.pk %}"><i class="far fa-heart fa-2x"></i></a>{{ review.like_user.count }} 명이 좋아합니다.</p>
    {% endif %}
{% endif %}

<h3>댓글 목록 ({{ review.comments.count }})</h3>
<form action="{% url 'community:comments_create' movie.pk review.pk %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button class="btn btn-secondary">댓글 등록</button>
</form>
{% for comment in review.comments.all %}
    <p>{{ comment.user }}</p>
    <p>{{ comment.content }}</p>
    <p>{{ comment.created_at }}</p>
    {% if request.user == comment.user %}
        <form action="{% url 'community:comments_delete' movie.pk review.pk comment.pk %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-secondary">삭제</button>
        </form>
    {% endif %}
{% empty %}
<p>아직 등록된 댓글이 없습니다.</p>
{% endfor %}
{% endblock %}