{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Review{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-white mb-0">
    <li class="breadcrumb-item"><a href="{% url 'community:index' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'community:movie_detail' movie.pk %}">Movie</a></li>
    <li class="breadcrumb-item active" aria-current="page">Review</li>
  </ol>
</nav>

<div>
    <h1>
        {{ review.title }}
        <button type="button" class="btn btn-primary btn-sm">
            평점 <span class="badge badge-light">{{ review.rank }}</span>
        </button>
    </h1>
    <h3>- {{ review.movie_title.title }}</h3>
</div>
<p>{{ review.content }}</p>
<div class="d-flex justify-content-end mb-1">
    {% if request.user == review.user %}
        <a href="{% url 'community:review_update' movie.pk review.pk %}"><button class="btn btn-primary btn-sm mr-2">수정하기</button></a>
        <form action="{% url 'community:review_delete' movie.pk review.pk %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-secondary btn-sm">삭제</button>
        </form>
    {% endif %}
</div>
<div class="d-flex justify-content-between">
    <p class="mb-0">작성자 : <a href="{% url 'accounts:profile' review.user.pk %}">{{ review.user }}</a></p>
    <div class="text-right d-block">
        {% if request.user.is_authenticated %}
            {% if request.user in review.like_user.all %}
                <p class="mb-0"><a href="{% url 'community:review_like' movie.pk review.pk %}"><i class="fas fa-heart fa-lg" style="color:crimson;"></i></a> {{ review.like_user.count }}명이 좋아합니다.</p>
            {% else %}
                <p class="mb-0"><a href="{% url 'community:review_like' movie.pk review.pk %}"><i class="far fa-heart fa-lg" style="color:crimson;"></i></a> {{ review.like_user.count }}명이 좋아합니다.</p>
            {% endif %}
        {% else %}
        <p class="mb-0"><i class="far fa-heart fa-lg" style="color:crimson;"></i> {{ review.like_user.count }}명이 좋아합니다.</p>
        {% endif %}
    </div>
</div>
<hr>
<h5>댓글 목록 ({{ review.comments.count }})</h5>
<form action="{% url 'community:comments_create' movie.pk review.pk %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button class="btn btn-secondary btn-sm">댓글 등록</button>
</form>
{% for comment in review.comments.all %}
<div class="d-flex justify-content-between my-2 py-1">
    <p>{{ comment.user }} | {{ comment.content }}</p>
    {% if request.user == comment.user %}
        <form action="{% url 'community:comments_delete' movie.pk review.pk comment.pk %}" method="POST">
            {% csrf_token %}
            <button class="btn"><i class="fas fa-trash-alt"></i></button>
        </form>
    {% endif %}
{% empty %}
<p>아직 등록된 댓글이 없습니다.</p>
{% endfor %}
</div>
{% endblock %}